---
import { HwcMap } from "@hwc/map";
import {HwcHeader } from "@hwc/header"

const items = [
  { id: "a", lat: 38.0, lon: -87.5, name: "A" },
  { id: "b", lat: 38.02, lon: -87.52, name: "B" }
];
---

<HwcHeader client:only="react" title="Crawfordsville Market"/>
<div style="height: 80vh;">
  <HwcMap client:only="react" items={items} />
</div>
