# MongoDB
MONGO_CONNECTION_STRING=""

# Azure Storage
AZURE_CONNECTION_STRING=""

# Name for collection and blob container
NAME=""

# Azure Entra ID (Authentication)
AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
REQUIRE_AUTH="false"  # Set to "true" to require authentication
